{% load embed_video_tags %}
        {% video 'http://www.youtube.com/watch?v=jeIQ2fy_eOQ' 'small' %}
{% if latest_question_list %}
        {% csrf_token %}
        <ul>
            {% for question in latest_question_list %}
                <li><a href="{% url 'quizzes:detail' question.id %}">{{ question.question_text }}</a></li>
    <a href="{% url 'quizzes:email'  question.id %}">Send test email</a>
            {% endfor %}
        </ul>
{% else %}
        <p>No questions are available.</p>
{% endif %}

<div>
</div>
