<head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <style type="text/css">
        html body {
          background-color: #abddfc;
        }
    </style>
</head>
<body>
    <div class="container" style="background-color:white;">
        <div class="image" style="text-align:center;">
            <img src="{{ MEDIA_ROOT }}/media/BAGCDE.jpg"/>
        </div>

        <div class="navbar">
            <table style="width:100%;">
                <tr style="border:none;">
                    <td style="border:none;">
                        <ul class="nav nav-pills">
                            <li role="presentation"><a href="/">Trainings</a></li>
                            <li role="presentation"><a href="#">Profile</a></li>
                        </ul> 
                    </td>
                    <td style="float:right;border:none;">
                        {% if user.is_authenticated %}
                            <p style="font-size:small;vertical-align:middle;">Welcome, {{user.email}} - <a href="/accounts/logout/">Logout</a></p>
                        {% else %}

                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br/>
    <br/>
</body>
