{% include "base.html" %}

<head>
    <style type="text/css">
        td {
          background-color: white;
        }
        th {
          background-color: #abddfc;
        }
    </style>
</head>

<!-- INSERT A PICTURE -->

<body>
    <div class="container" style="background-color: #ffffff; height:100%;">
        <br/>
        <h2><b>
            <span class="label label-primary">My Assigned Training</span>
        </b></h2>
        <br/>
        
<!--<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>-->

        {% if trainings %}
            <table class="table table-bordered" style="width:100%;">
                <tr>
                    <th>Training Name</th>
                    <th>Course Code</th>
                    <th>Due Date</th>
                    <th>Duration</th>
                    <th>Required Score</th>
                    <th></th>
                </tr>
                {% for t in trainings %}
                    <tr>
                        <td>{{ t.category_text }}</td>
                        <td>{{ t.course_code }}</td>
                        <td>{{ t.due_date }}</td>
                        <td>{{ t.duration_hours }}</td>
                        <td>{{ t.required_score }}</td>
                        <td><a href="/trainings/{{ t.id }}/">Begin Training</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>There are no trainings available to display.</p>
        {% endif %}
    </div>
</body>
