{% include "base.html" %}

<head>
    <style type="text/css">
        td {
            background-color: white;
            text-align: center;
        }
        th {
            background-color: #abddfc;
            text-align: center;
        }
        tr #centered {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container" style="background-color: #ffffff; height:100%; box-shadow:0 0 10px black;">
    <img src="{{ MEDIA_ROOT }}/media/BAGCA_DEE.png" style= "width: 877.5pt; margin-left:-11pt;"/>

    <br/><br>
    <hr/>
    <br>

    {% if alert_msg %}
    <div class="alert {{alert_style}}" role="alert">{{ alert_msg }}</div>
    {% endif %}

    <table>
        <tr><th></th><th></th></tr>
        <form action="/send_reminder_to_group/" method="post">
            <tr style="margin-bottom:10px;"><td>Group: </td><td><select name="group">
                <option value="" selected="selected">Please select a group.</option>
                {% for group in groups %}
                <option value="{{ group }}">{{ group }}</option>
                {% endfor %}
            </select>
                {% csrf_token %}
                <button type="SUBMIT" class="btn btn-success">Send reminder to group about pending quizzes</button></td></tr>
        </form>
        <tr><td></td><td></td></tr>
        <form action="/send_reminder_to_user/" method="post">
            <tr><td>User: </td><td><select name="user">
                <option value="" selected="selected">Please select a user.</option>
                {% for user in users %}
                <option value="{{ user }}">{{ user }}</option>
                {% endfor %}
            </select>
                {% csrf_token %}
                <button type="SUBMIT" class="btn btn-success">Send reminder to user about pending quizzes</button></td></tr>
        </form>
    </table>

    <div class="panel panel-default">
        <div class="panel-heading" style="background-color:rgb(51,122,183);margin-bottom:-2px;">
            <h4 style="color:white;"><b>Trainings still need to be completed by users.</b></h4>
        </div>
        <table class="table table-striped" style="width:100%;">
            <tr>
                <th>Course Name</th>
                <th>Course Code</th>
                <th>Due Date</th>
                <th>User</th>
                <th></th>
            </tr>

            {% for quiz in paginated_user_mail_list.user_list.object_list %}
            <tr>
                <td>{{ quiz.category_text }}</td>
                <td>{{ quiz.course_code }}</td>
                <td>{{ quiz.due_date }}</td>
                <td>{{ request.user }}</td>
                <td>
                    <form action="/send_reminder_mail/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="quiz_id" value="{{ quiz.id }}" />
                        <input type="hidden" name="user" value="{{ request.user }}" />
                        <button type="SUBMIT" class="btn btn-success">Send Reminder</button>
                    </form>
                </td>
            </tr>
            {% endfor %}

        </table>
    </div>

    {% if paginate %}
    <center>
        {% if paginated_user_mail_list.user_list.has_previous %}
        <a href="?page={{ paginated_user_mail_list.user_list.previous_page_number }}" class="btn btn-primary" style="width: 10%">Previous</a>
        {% endif %}
        {% if paginated_user_mail_list.user_list.has_next %}
        <a href="?page={{ paginated_user_mail_list.user_list.next_page_number }}" class="btn btn-primary" style="width: 10%">Next</a>
        {% endif %}
    </center>
    {% endif %}

</div>
</body>