{% include "base.html" %}

<head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}


    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="TimeCircles.js"></script>
    <link href="TimeCircles.css" rel="stylesheet">

    <style>
        body {background-color: LightSkyBlue;}
        #form_left {text-align: right; margin-left:10px; padding-right:15px;}
        #error_msg {color: red;}
    </style>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
</head>

<body>
<div class="container" style="background-color:white; height:100%; box-shadow:0 0 10px black;">
    <h2>New User Registration</h2>
    <hr>
    <form action="." method="post" enctype="multipart/form-data">
        <h4>Please enter the following information in order to register to the site:</h4>
        <br/>
        <br/>
        <table style="margin:0 auto;">
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr class="fieldWrapper">
                <td id="form_left"><label for="{{ form.username.id_for_label }}">Username: </label></td>
                <td>{{ form.username }}</td>
                <td id="error_msg">{{ form.username.errors }}</td>
            </tr>
            <tr class="fieldWrapper">
                <td id="form_left"><label for="{{ form.password1.id_for_label }}">Password: </label></td>
                <td>{{ form.password1 }}</td>
                <td id="error_msg">{{ form.password1.errors }}</td>
            </tr>
            <tr class="fieldWrapper">
                <td id="form_left"><label for="{{ form.password2.id_for_label }}">Confirm Password: </label></td>
                <td>{{ form.password2 }}</td>
                <td id="error_msg">{{ form.password2.errors }}</td>
            </tr>
        </table>
        <br/>
        <br/>
        <center><button class="btn btn-success" type="submit" value="Upload">Submit</button></center>
        {% csrf_token %}
    </form>
</div>
</body>
