{% include "base.html" %}

<head>
    <style type="text/css">
        td {
          background-color: white;
        }
        th {
          background-color: #abddfc;
          text-align: center;
        }
        tr #centered {
          text-align: center;
        }
    </style>
</head>
<body>
    <div class="container" style="background-color: #ffffff; height:100%; box-shadow:0 0 10px black;">
        <img src="{{ MEDIA_ROOT }}/media/BAGCA_DEE.png" style= "width: 877.5pt; margin-left:-11pt;"/>

        <br/><br>
        <hr/>
        <br>

        {% if alert_msg %}
            <div class="alert {{alert_style}}" role="alert">{{ alert_msg }}</div>
        {% endif %}

        {% if trainings %}
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:rgb(51,122,183);margin-bottom:-2px;">
                    <h4 style="color:white;"><b>Available Trainings</b></h4>
                </div>
                <table class="table table-striped" style="width:100%;">
                    <tr>
                        <th>Training Name</th>
                        <th>Course Code</th>
                        <th>Due Date</th>
                        <th>Duration</th>
                        <th>Required Score</th>
                        <th></th>
                    </tr>
                    {% for t in trainings %}
                        <tr>
                            <td style="margin-left: auto; margin-right: auto;">{{ t.category_text }}</td>
                            <td style="margin-left: auto; margin-right: auto;">{{ t.course_code }}</td>
                            <td style="margin-left: auto; margin-right: auto;">{{ t.due_date }}</td>
                            <td>
                            {% if t.duration_hours > 0 %}
                                {{ t.duration_hours }}
                                {% if t.duration_hours != 1 %}
                                    hours
                                {% else %}
                                        hour
                                    {% endif %}
                            {% endif %}
                            </td>
                            <td style="margin-left: auto; margin-right: auto;">{{ t.required_score }}%</td>
                            <td style="margin-left: auto; margin-right: auto;">
                                <form action="/trainings/" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="training_id" value="{{t.id}}" />
                                    <button type="SUBMIT" class="btn btn-success">Add to Assigned Trainings</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <div style="text-align:center;">
                <h3>You have completed all available trainings.</h3>
            </div>
        {% endif %}
    </div>
</body>
