{% include "training_files_videos.html" %}

<div class="container" style="background-color:white; margin-top: 20px; padding: 10px; box-shadow:0 0 10px black;">
        <div style="text-align:center;margin-left:10pt;">
            <a href="/" class="btn btn-danger">Exit Training</a>
            <a href="/user_assigned_training/print_quiz/{{ training_info.id }}/" class="btn btn-primary">Print Quiz</a>
            <a href="/user_assigned_training/{{ training_info.id }}/quiz" class="btn btn-success">Take the Quiz!</a>
        </div>
</div>
